
.loaderContainer {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  padding-right: 52px;
  padding-bottom: 52px;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #87aab1;

  .counterContainer {
    overflow: hidden;
    height: 30dvw;
    min-height: 30dvw;
  }

  h3 {
    z-index: 9999;
    margin-top: 0px;
    margin-bottom: 1dvw;
    color: #fff;
    font-size: 30dvw;
    line-height: 30dvw;
    font-weight: 300;
  }
}

.icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

// Content width
.contentWidth {
  width: 84dvw;
  max-width: 84dvw;
}

// Flexbox styles
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.anim {
  overflow: hidden;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}
