.preloaderStyles {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  position: fixed;
  width: 100dvw;
  background-color: #87aab1;
  z-index: 9999;

  .percentage {
  color: #dedfe1;
  font-size: 1.5rem;
}
}