.parallax-container {
  display: flex;
  align-items: center;
  height: 40vh;
  width: 30vw;

  .parallax-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% center;
  }
}
