// Import mixins
@import "_mixins";

// Import fonts
@import "fonts";

// Import cursor styles
// @import "cursor";

// Root variables
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --smallest-font-size: 0.75rem;
    image-rendering: optimizeSpeed;
    image-orientation: from-image;
  }
}

@media only screen and (min-width: 370px) {
  :root {
    --big-font-size: 2.5rem;
    --h1-font-size: 1.875rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.875rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
    --smallest-font-size: 0.688rem;
    image-rendering: optimizeSpeed;
    image-orientation: from-image;
  }
}

// Global resets
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// HTML styles
html {
  height: 100%;
  font-family: "Lausanne", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  scrollbar-width: none;

  // Hide scrollbar for Chrome, Safari and Opera
  &::-webkit-scrollbar,
  &::-webkit-scrollbar {
    display: none;
  }

  &::selection {
    background: #b75c5f;
  }
}

// Body styles
body {
  min-height: 100%;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  text-rendering: optimizeSpeed;
  overflow-y: auto;
  image-rendering: auto;
  overscroll-behavior: none;

  // Hide scrollbar for Chrome, Safari and Opera
  &::-webkit-scrollbar,
  &::-webkit-scrollbar {
    display: none;
  }

  @include mq("tablet") {
    image-rendering: optimizeSpeed;
    image-orientation: from-image;
    font-size: 1.25rem;
  }
  @include mq("phone") {
    image-rendering: optimizeSpeed;
    image-orientation: from-image;
    font-size: 1.5rem;
  }
}

// Root container
#root {
  width: 100%;
  position: sticky;
}

// Headings styles
h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

h1 {
  font-size: 17.36111dvw;
  line-height: 16dvw;
  font-weight: 300;
}

h2 {
  font-size: 10dvw;
  font-weight: 300;
}

// Icon styles
.icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

// Content width
.contentWidth {
  width: 84dvw;
  max-width: 84dvw;
}

// Flexbox styles
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.anim {
  overflow: hidden;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

// lenis styles
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}