.bar {
    height: 100dvh;
    position: fixed;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 25dvw;
    background: #dedfe1;
}

.bar2 {
    height: 100dvh;
    position: fixed;
    object-fit: cover;
    top: 0;
    left: 25dvw;
    width: 25dvw;
    background: #87aab1;
}

.bar3 {
    height: 100dvh;
    position: fixed;
    object-fit: cover;
    top: 0;
    left: 50dvw;
    width: 25dvw;
    background: #cdc9bb;
}

.bar4 {
    height: 100dvh;
    position: fixed;
    object-fit: cover;
    top: 0;
    left: 75dvw;
    width: 25dvw;
    background: #283139;
}