.container {
    z-index: 9998;
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    pointer-events: none;
}

.bar {
    height: 100%;
    position: fixed;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 25dvw;
    background: #dedfe1;
}

.bar1 {
    height: 100%;
    position: fixed;
    object-fit: cover;
    top: 0;
    left: 75dvw;
    width: 25dvw;
    background: #283139;
}

.bar2 {
    height: 100%;
    position: fixed;
    object-fit: cover;
    top: 0;
    left: 25dvw;
    width: 25dvw;
    background: #87aab1;
}

.bar3 {
    height: 100%;
    position: fixed;
    object-fit: cover;
    top: 0;
    left: 50dvw;
    width: 25dvw;
    background: #cdc9bb;
}
