.heroContainer {
  width: 100dvw;
  max-height: 110%;
  top: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
  padding: 5vw 0;
}

.heroBackground {
  margin: 0;
  padding: 0;
  width: 100dvw;
  height: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  background: #1d2c27;
  transform-origin: center;
  background-attachment: fixed;
  background-size: cover;
}

.heroBackground img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: auto;
  pointer-events: none;
  object-position: top;
}

.heroContainer h1 {
  transform: translateX(-1.4vw);
  letter-spacing: -0.79861dvw;
  line-height: 12.70833dvw;
}

.heroContainer span {
  font-size: 1.66dvw;
  font-weight: 300;
  line-height: 2.3dvw;
  display: block;
}

.topSpanContainer {
  margin-top: 10dvw;
  margin-bottom: 5dvw;
  color: #b75c5f;
  mix-blend-mode: difference;
  text-shadow: #1d2c27 1px 1px 4px 6px;
}

.bottomSpan {
  margin-top: 7dvw;
  mix-blend-mode: difference;
}

.heroTitleAnim {
  height: 16dvw;
  overflow: hidden;
}

.heroContainer p,
.heroContainer span {
  transform-origin: left center;
}

.myName {
  color: #87aab1;
}

.mf-cursor {
  color: #b75c5f;
}

@media only screen and (min-width: 576px) {

  /* Styles for screens larger than or equal to 576px (e.g., small mobile devices) */

  .counter-container {
    height: 40dvw; /* Adjust the height for smaller screens */
    padding-right: 5dvw; /* Adjust the padding for smaller screens */
    padding-bottom: 10dvh; /* Adjust the padding for smaller screens */
  }
}
// Icon styles
.icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

// Content width
.contentWidth {
  width: 84dvw;
  max-width: 84dvw;
}

// Flexbox styles
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.anim {
  overflow: hidden;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}
