.heroContainer {
  width: 100dvw;
  max-height: 110%;
  top: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
  padding: 5vw 0;
}

.heroBackground {
  margin: 0;
  padding: 0;
  width: 100dvw;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #1d2c27;
  transform-origin: center;
  background-attachment: fixed;
  background-size: cover;
}

.heroBackground img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: auto;
  pointer-events: none;
  object-position: top;
}

.heroContainer h1 {
  transform: translateX(-1.4vw);
  letter-spacing: -0.79861dvw;
  line-height: 12.70833dvw;
}

.heroContainer span {
  font-size: 1.66dvw;
  font-weight: 300;
  line-height: 2.3dvw;
  display: block;
}

.topSpanContainer {
  margin-top: 10dvw;
  margin-bottom: 5dvw;
  color: #b75c5f;
  mix-blend-mode: difference;
  text-shadow: #1d2c27 1px 1px 4px 6px;
}

.bottomSpan {
  margin-top: 7dvw;
  mix-blend-mode: difference;
}

.heroTitleAnim {
  height: 16dvw;
  overflow: hidden;
}

.heroContainer p,
.heroContainer span {
  transform-origin: left center;
}

.myName {
  color: #87aab1;
}

.mf-cursor {
  color: #b75c5f;
}

// Icon styles
.icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

// Content width
.contentWidth {
  width: 84dvw;
  max-width: 84dvw;
}

// Flexbox styles
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.anim {
  overflow: hidden;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

/* Extra small devices (phones, 326 and down) */
@media only screen and (max-width: 326px) {
  .heroContainer {
    padding: 8vw 0;
    height: 100dvh;
  }

  .heroContainer h1 {
    font-size: 10vw;
    line-height: 10vw;
  }

  .heroContainer span {
    font-size: 3.5vw;
    line-height: 5vw;
  }

  .heroContainer img {
    object-fit: fill;
  }

  .topSpanContainer {
    margin-top: 10vw;
    margin-bottom: 5vw;
  }

  .bottomSpan {
    margin-top: 7vw;
  }

  .topSpanContainer {
    color: white;
    mix-blend-mode: unset;
  }
}

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {}

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {}

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {}