.center a {
  color: #dedfe1;
  text-decoration: none;
}
.center button {
  background: none;
  border: none;
  color: #dedfe1;
  padding: 0;
  font-weight: 300;
  font-size: 1.2vw;
  z-index: 100;
}

.center {
  padding: 13.88889vw 0 5.55556vh;
  background: #283139;
  width: 100vw;
  height: 100vh;
  color: #dedfe1;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.footerContent {
  display: flex;
}

.footerContent p:nth-child(2) {
  font-size: 1.66667vw;
  line-height: 2.22222vw;
  margin-top: 1.80556vw;
}

footer .background {
  position: absolute;
  right: 3.47222vw;
  width: 69.44444vw;
  top: 0;
  padding-top: 20vh;
  padding-left: 10vw;
  mix-blend-mode: screen;
  z-index: -1;
}

footer .background video {
  width: 50vw;
}

.center hr {
  height: 1px;
  background: #5b544c;
  border: none;
  margin: 5vw 0;
}

.footerFinalP {
  max-width: 80vw;
  font-weight: 300;
  font-size: 1.2vw;
}

.footerList ul {
  padding-bottom: 8vh;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  gap: 3rem;
  transition: all 350ms;
  text-align: center;
}

.linkList li {
  & a {
    display: inline-block;
    color: #dedfe1;
    text-decoration: none;
    position: relative;
    width: fit-content;

    &::after {
      content: "";
      position: absolute;
      bottom: -6px;
      left: 0;
      transform: translateX(50%);
      width: 99%;
      height: 2px;
      border-radius: 2px;
      background: #dedfe1;
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 450ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}
// Icon styles
.icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

// Content width
.contentWidth {
  width: 84vw;
  max-width: 84vw;
}

// Flexbox styles
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.anim {
  overflow: hidden;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}
