/*noinspection CssUnusedSymbol*/

.workSection {
  width: 100vw;
  color: #1b2a25;
  padding-left: 7%;
  overflow: hidden;
}

.workSection h1 {
  font-size: 17vw;
  line-height: 17vw;
  transform-origin: left center;
}

.workSection .anim:first-child {
  margin-top: 15vh;
  margin-left: 7vw;
  margin-bottom: 10vh;
}

.block {
  position: relative;
}

.block:hover video {
  display: block;
  transition: 350ms ease-in-out;
}

.block img {
  height: 100%;
  object-fit: cover;
  max-width: 100%;
  pointer-events: none;
}

.block video {
  position: absolute;
  object-fit: cover;
  width: calc(100% + 2px);
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  pointer-events: none;
  transition: all 350ms ease-in-out;
}

.textWrapper {
  overflow: hidden;
  position: absolute;
  bottom: -1.8vw;
  pointer-events: none;
}

.block p {
  font-size: 0.96vw;
  white-space: nowrap;
  font-weight: 100;
  line-height: unset;
  opacity: 0;
  transform-origin: left center;
  color: gray;
  margin-top: 0;
}

.block p strong {
  color: #1b2a25;
  font-weight: 500;
}

.workRightSection {
  margin-left: auto;
}

.block0 {
  padding-left: 5vw;
  height: 40vh;
}

.block1 {
  height: 30.84722vw;
  margin-bottom: 11.59722vw;
  margin-top: 15vh;
  margin-left: 3vw;
  max-width: 90%;
  border-radius: 10%;

  &.mf-cursor {
    transform: scale(1.5);
  }
}

.block2 {
  margin-bottom: 20vh;
  width: 30vw;
  height: 50vh;
  transition: all 350ms ease-in-out;
}

.workRightSection p {
  margin-top: 3vh;
  font-size: 1.66667vw;
  line-height: 2vh;
  font-weight: 300;
}

.beatsPic {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .workSection {
    display: flex;
    padding: 0;
  }
  .workSection h1 {
    align-items: center;
    justify-content: center;
    font-size: 15vw;
    line-height: 25vw;
  }

  .workSection .anim:first-child {
    margin-top: 15vh;
    margin-left: 7vw;
    margin-bottom: 10vh;
  }

  .block0 {
    margin-left: 7vw;
    height: 40vh;
  }

  .block1 {
    height: 30.84722vh;
    width: 30.84722vw;
    margin-bottom: 11.59722vw;
    margin-top: 15vh;
    margin-left: 3vw;
    max-width: 100%;
    border-radius: 10%;

    &.mf-cursor {
      transform: scale(1.5);
    }
  }

  .block2 {
    padding-bottom: 20vh;
    width: 40vw;
    height: 30vh;
    image-rendering: auto;
    transition: all 350ms ease-in-out;
  }

  .workRightSection p {
    margin-top: 3vh;
    font-size: 1.66667vw;
    line-height: 2vh;
    font-weight: 300;
  }

  .workRightSection {
    margin-left: auto;
  }

  .workSection {
    width: 100vw;
    color: #1b2a25;
    overflow: hidden;
  }

  .block {
    position: relative;
  }

  .block:hover video {
    display: block;
    transition: 350ms ease-in-out;
  }

  .row {
    border-radius: 15%;
  }

  .block img {
    height: 50%;
    object-fit: cover;
    max-width: 100%;
    pointer-events: none;
  }

  .block video {
    position: absolute;
    object-fit: cover;
    width: calc(100% + 2px);
    height: 50%;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    pointer-events: none;
    transition: all 350ms ease-in-out;
  }

  .textWrapper {
    overflow: hidden;
    position: absolute;
    bottom: -1.8vw;
    pointer-events: none;
  }

  .block p {
    font-size: 0.96vw !important;
    white-space: normal;
  }
}
// Icon styles
.icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

// Content width
.contentWidth {
  width: 84vw;
  max-width: 84vw;
}

// Flexbox styles
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.anim {
  overflow: hidden;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}
