.nav {
  color: #dedfe1;
  mix-blend-mode: hard-light;
  position: absolute;
  top: 4vh;
  right: 6vw;
  font-size: 1.2vw;
  opacity: 0.8;
  transition: 0.3s;
  z-index: 2;
  text-decoration: none;
}

.link {
  z-index: 2;
  text-decoration: none;
}

.nav ul {
  list-style: none;
}

.nav li {
  list-style: none;
}

.nav link {
  list-style: none;
  text-decoration: none;
}
