.about {
  display: flex;
  justify-content: center;
  background: #283139;
  color: #dedfe1;
  height: 100%;
  width: 100dvw;

  .topText {
    line-height: 1.6;
    padding-top: 25dvh;
    padding-right: 12dvw;
    font-size: 2dvw;
  }

  .bottomText {
    line-height: 1.6;
    padding-top: 8dvh;
    padding-bottom: 8dvh;
    padding-right: 12dvw;
    font-size: 2dvw;
  }

  .group {
    line-height: 1.6;
    padding-top: 6dvh;
    padding-bottom: 8dvh;
    padding-right: 12dvw;

    h4 {
      // color 70% of #dedfe1
      color: rgba(222, 223, 225, 0.7);
    }

    .special {
      color: #dedfe1;
    }

    p {
      color: rgba(222, 223, 225, 0.7);
    }
  }

  .rightCol {
    flex: 1;
    padding-left: 40dvw;
  }

  li {
    list-style: none;
    padding-top: 4dvh;
  }
}

.bottomList {
  padding-bottom: 40dvh;
  list-style: none;

  button {
    padding: 0;
    border: none;
    background: none;
    font-weight: 400;
    font-size: inherit;

    color: rgba(222, 223, 225, 0.7);
  }

  a {
    text-decoration: none;
    color: rgba(222, 223, 225, 0.7);
    transition: color 450ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
    outline: none;

    :visited {
      color: rgba(222, 223, 225, 0.5);
    }
  }
}

.flipAnimate:hover,
.flipAnimate:focus {
  color: #dedfe1;
}

a.flipAnimate {
  perspective: 1000px;

  span {
    position: relative;
    display: inline-block;
    padding: 0;
    transition: transform 350ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
    transform-origin: center;
    transform-style: preserve-3d;
  }

  span:before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    content: attr(data-hover);
    transition: color 350ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
    transform: rotateX(-90deg);
    transform-origin: 50% 20%;
    text-align: left;
  }

  &:hover span,
  &:focus span {
    transform: scale(1.05) rotateX(90deg) translateY(-20px);
  }

  &:hover span:before,
  &:focus span:before {
    color: rgba(222, 223, 225, .85);
  }
}
