.about {
  display: flex;
  justify-content: center;
  background: #283139;
  color: #dedfe1;
  height: 100%;
  width: 100vw;

  .top-text {
    line-height: 1.6;
    padding-top: 25vh;
    padding-right: 12vw;
    font-size: 2vw;
  }

  .bottom-text {
    line-height: 1.6;
    padding-top: 8vh;
    padding-bottom: 8vh;
    padding-right: 12vw;
    font-size: 2vw;
  }

  .group {
    line-height: 1.6;
    padding-top: 6vh;
    padding-bottom: 8vh;
    padding-right: 12vw;

    h4 {
      // color 70% of #dedfe1
      color: rgba(222, 223, 225, 0.7);
    }

    .special {
      color: #dedfe1;
    }

    p {
      color: rgba(222, 223, 225, 0.7);
    }
  }

  .right-col {
    flex: 1;
    padding-left: 40vw;
  }

  li {
    padding-top: 4vh;
  }
}

.bottom-list {
  padding-bottom: 40vh;

  button {
    padding: 0;
    border: none;
    background: none;
    font-weight: 400;
    font-size: inherit;

    color: rgba(222, 223, 225, 0.7);
  }

  a {
    text-decoration: none;
    color: rgba(222, 223, 225, 0.7);
    transition: color 450ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
    outline: none;

    :visited {
      color: rgba(222, 223, 225, 0.5);
    }
  }
}

.flip-animate:hover,
.flip-animate:focus {
  color: #dedfe1;
}

a.flip-animate {
  perspective: 1400px;

  span {
    position: relative;
    display: inline-block;
    padding: 0;
    transition: transform 450ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
    transform-origin: left;
    transform-style: preserve-3d;
  }

  span:before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    content: attr(data-hover);
    transition: color 450ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
    transform: rotateX(-90deg);
    transform-origin: 20% 10%;
    text-align: left;
  }

  &:hover span,
  &:focus span {
    transform: scale(1.05) rotateX(90deg) translateY(-22px);
  }

  &:hover span:before,
  &:focus span:before {
    color: rgba(222, 223, 225, 1);
  }
}
