.scrollCta {
  color: #b75c5f;
  mix-blend-mode: add;
  position: absolute;
  top: 92dvh;
  right: 4dvw;
  font-size: 1.4dvw;
  transition: 0.3s;
  filter: drop-shadow(0px 0px 4px #cdc9bb);
  text-shadow: #cdc9bb 1px 1px 4px 6px;
  z-index: 2;
}
// Icon styles
.icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

// Content width
.contentWidth {
  width: 84dvw;
  max-width: 84dvw;
}

// Flexbox styles
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.anim {
  overflow: hidden;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}
