
.newsContainer {
  color: #dedfe1;
  padding: 12vh 0;
  width: 100%;
  height: 100%;
  position: relative;
  background: #87aab1;
  z-index: 2;
}

.newsMediaContainer {
  height: 66.25vw;
  margin: 0 0;
}

.newsContainer img,
.newsContainer video {
  height: 100%;
  width: 100%;
  object-fit: cover;

  & .mf-cursor {
    height: 52px;
    width: 52px;
  }
}

.newsContainer .newsMedia:nth-child(1) {
  margin-top: 18vh;
  width: 32vw;
  height: 42vh;
  mix-blend-mode: soft-light;
}

.newsContainer .newsMedia:nth-child(2) {
  position: absolute;
  height: 34.79167vh;
  width: 26.31944vw;
  top: 7vh;
  left: -23.09722vw;
}

.newsContainer .newsMedia:nth-child(3) {
  position: absolute;
  width: 25.08333vw;
  height: 27.15278vh;
  top: 4.23611vh;
  left: 24vw;
}

.newsContainer .newsMedia:nth-child(4) {
  position: absolute;
  width: 27.31944vw;
  height: 27.63889vw;
  top: 39.93056vh;
  left: -19.09722vw;
}

.newsContainer .newsMedia:nth-child(5) {
  position: absolute;
  width: 30.31944vw;
  height: 30.31944vh;
  top: 39.93056vh;
  left: 24.58333vw;
}

.news-small-heading {
  font-size: 0.97222vw;
}

.newsContainer h2 {
  text-align: center;
  line-height: 9.7vw;
  letter-spacing: -0.34722vw;
  margin: 3.47222vh 0 2.08333vh;
}

.newsText {
  text-align: center;
  font-size: 1.66667vw;
  line-height: 2.22222vw;
}
// Icon styles
.icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

// Content width
.contentWidth {
  width: 84vw;
  max-width: 84vw;
}

// Flexbox styles
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.anim {
  overflow: hidden;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}
