
.newsContainer {
  color: #dedfe1;
  padding: 12vh 0;
  width: 100%;
  height: 100%;
  position: relative;
  background: #87aab1;
  z-index: 2;
}

.newsMediaContainer {
  height: 66.25dvw;
  margin: 0 0;
}

.newsContainer img,
.newsContainer video {
  height: 100%;
  width: 100%;
  object-fit: cover;

  & .mf-cursor {
    height: 52px;
    width: 52px;
  }
}

.newsContainer .newsMedia:nth-child(1) {
  margin-top: 18dvh;
  width: 32dvw;
  height: 42dvh;
  mix-blend-mode: soft-light;
}

.newsContainer .newsMedia:nth-child(2) {
  position: absolute;
  height: 34.79167dvh;
  width: 26.31944dvw;
  top: 7dvh;
  left: -23.09722dvw;
}

.newsContainer .newsMedia:nth-child(3) {
  position: absolute;
  width: 25.08333dvw;
  height: 27.15278dvh;
  top: 4.23611dvh;
  left: 24dvw;
}

.newsContainer .newsMedia:nth-child(4) {
  position: absolute;
  width: 27.31944dvw;
  height: 27.63889dvw;
  top: 39.93056dvh;
  left: -19.09722dvw;
}

.newsContainer .newsMedia:nth-child(5) {
  position: absolute;
  width: 30.31944dvw;
  height: 30.31944dvh;
  top: 39.93056dvh;
  left: 24.58333dvw;
}

.news-small-heading {
  font-size: 0.97222dvw;
}

.newsContainer h2 {
  text-align: center;
  line-height: 9.7dvw;
  letter-spacing: -0.34722dvw;
  margin: 3.47222vh 0 2.08333dvh;
}

.newsText {
  text-align: center;
  font-size: 1.66667dvw;
  line-height: 2.22222dvw;
}
// Icon styles
.icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

// Content width
.contentWidth {
  width: 84dvw;
  max-width: 84dvw;
}

// Flexbox styles
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.anim {
  overflow: hidden;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}
